<a href="https://colab.research.google.com/github/JinSeungmin1/BP_10_Ch6/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(2, 101):     # range를 이용해 반복 루프를 지정
  if i%2==0 :
    print(i,end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [3]:
year = 0
balance = 1000
while balance <= 2000 :        
  year = year + 1
  interest = balance * 0.07
  balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [4]:
n = 1234
sum = 0
while n > 0 :  # 0을 초과하는 경우가 while의 조건
  digit = n % 10 # x는 남은수를 연산하는 값
  sum = sum + digit
  n = n // 10
print(sum)

10

In [5]:
ans = 0
while ans != 3*9:
 ans = int(input("3*9는"))    # 3*9의 값이 while의 조건
print("맞았습니다.")

3*9는27
맞았습니다.

In [15]:
sum = 0
while True:           # 무한 반복을 위해 while문의 조건을 true로 지정
  x = int(input("정수를 입력하시오: "))
  if x == 0:
    break;            # 값이 0이면 break 아니라면 변수 sum에 x값을 더한다.
    sum = sum + x
print("합은 ", sum, "입니다.")   # 0이 나올경우 print로 값을 출력한다.

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 0
합은  0 입니다.

In [16]:
from random import randint # 2개의 랜덤한수를 랜덤 함수를 통해 출력
for i in range(3) :
 d1 = randint(1, 6)
 d2 = randint(1, 6)
 print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 2 두번째 주사위= 4
첫번째 주사위= 2 두번째 주사위= 1
첫번째 주사위= 5 두번째 주사위= 2